LLM_API_KEY=sk-ws-H.REIPHEI.34NQ.MEYCIQChA507Q1f_l7vYGAW5SFmDZPpBJ7JttP1fSuNG30xHuAIhAMIf9dV2XHJlO6-6GUvJbciF7oX8X9PhPv4D19b6J02B
LLM_BASE_URL=https://ws-227a6hkpygo7cayv.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
LLM_MODEL=qwen3.7-plus
TAVILY_API_KEY=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
SERVER_HOST=0.0.0.0
SERVER_PORT=8081
LOG_LEVEL=INFO
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASS=
MYSQL_DB=dodo
